.hero_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    text-align: center;
}

@media (width > 768px) {
    .hero_main {
        justify-content: flex-start;
        align-items: flex-start;
        text-align: start;
        max-width: 40rem;
    }
}