@import "./reset.css";
@import "./fonts.css";
@import "./variables.css";
@import "./themes.css";

:root {
    font-family: var(--font-family-primary);
    letter-spacing: var(--spacing-primary);
    color: var(--color-text-primary);
    box-sizing: border-box;
}

h1 {
    font-weight: var(--font-h1-weight);
    font-size: var(--font-h1-size);
    line-height: var(--font-h1-line-height);
}

h2 {
    font-weight: var(--font-h2-weight);
    font-size: var(--font-h2-size);
    line-height: var(--font-h2-line-height);
}

h3 {
    font-weight: var(--font-h3-weight);
    font-size: var(--font-h3-size);
    line-height: var(--font-h3-line-height);
}

h4 {
    font-weight: var(--font-h4-weight);
    font-size: var(--font-h4-size);
    line-height: var(--font-h4-line-height);
    color: var(--color-text-secondary);
    text-transform: uppercase;
}

p,
a {
    font-weight: var(--font-p-weight);
    font-size: var(--font-p-size);
    line-height: var(--font-p-line-height);
    text-decoration: none;
    min-width: fit-content;
}

a {
    color: var(--color-text-primary);
}

strong {
    font-weight: var(--font-strong-weight);
    font-size: var(--font-strong-size);
    line-height: var(--font-strong-line-height);
}

button {
    cursor: pointer;
}
