:root {
    --color-primary: #4883e4;
    --color-secondary: #fff;
    --color-thirty: #8224f6;
    --color-error: #ef4444;
    --color-text-primary: #202946;
    --color-text-secondary: var(--color-thirty);
    --color-text-light: #fff;

    --spacing-primary: -0.01rem;

    --font-family-primary: "ElmaSans", system-ui, sans-serif;
    --font-family-secondary: "GoogleSans", system-ui, sans-serif;

    --font-h1-size: 2rem;
    --font-h1-line-height: 2.5rem;
    --font-h1-weight: 800;

    --font-h2-size: 2rem;
    --font-h2-line-height: 2.5rem;
    --font-h2-weight: 800;

    --font-h3-size: 2rem;
    --font-h3-line-height: 2.5rem;
    --font-h3-weight: 800;

    --font-h4-weight: 500;
    --font-h4-size: 1.5rem;
    --font-h4-line-height: 2rem;

    --font-p-weight: 400;
    --font-p-size: 1rem;
    --font-p-line-height: 2rem;

    --font-strong-weight: 600;
    --font-strong-size: 1.25rem;
    --font-strong-line-height: 2rem;

    --radius-sm: 1.25rem;
    --radius-md: 1.5rem;

    --box-shadow-sm: 0 0 1rem rgba(0, 0, 0, 0.1);

    --button-border-radius: var(--radius-sm);
    --button-color-primary: var(--color-primary);
    --button-color-secondary: rgb(225, 75, 255);
    --button-color-text: var(--color-text-light);
    --button-color-text-light: var(--color-text);
    --button-hover-scale: 1.03;
    --button-transition-duration: 100ms;

    --button-small-padding-x: 1.8rem;
    --button-small-padding-y: 0.8rem;
    --button-small-color-primary: var(--color-primary);

    --button-medium-padding-x: 2rem;
    --button-medium-padding-y: 1rem;
    --button-medium-color-primary: var(--color-primary);
}

@media (width > 768px) {
    :root {
        --font-h1-size: max(5rem, 5vw);
        --font-h1-line-height: max(5rem, 5vw);

        --font-h2-size: max(3rem, 2vw);
        --font-h2-line-height: 4rem;

        --font-p-size: max(1.25rem, 1vw);
        --font-p-line-height: max(2rem, 1vw);

        --button-small-padding-x: 1.8rem;
        --button-small-padding-y: 0.8rem;

        --button-medium-padding-x: 2rem;
        --button-medium-padding-y: 1rem;
    }
}
