.card {
    position: relative;
    min-height: fit-content;
    min-width: fit-content;
    display: flex;

    border-radius: var(--radius-sm);
    padding: 2rem;

    & > .card__background {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        bottom: 0;
        right: 0;
        object-fit: cover;
        border-radius: var(--radius-sm);
    }

    & > .card__info {
        align-self: flex-end;
        width: 100%;
        height: 100%;
        background-color: #ffffff99;
        text-align: start;
        padding: 1.5rem;
        border-radius: var(--radius-sm);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & > .card__info__label {
            font-weight: 800;
            font-size: 1rem;
            white-space: 1rem;
        }

        & .card__info__progress {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            & > .card__info__progress__line {
                width: 100%;
                height: 0.5rem;
                background-color: #d4d4d4;
                border-radius: var(--radius-sm);

                & > .card__info__progress__line_filled {
                    width: 76%;
                    height: 0.5rem;
                    background-color: var(--color-primary);
                    border-radius: var(--radius-sm);
                }
            }
        }
    }
}

@media (width > 768px) {
    .card {
        min-width: clamp(25rem, 60vw, 45rem);
        min-height: 20rem;

        & > .card__info {
            width: 65%;
            height: 45%;

            & > .card__info__label {
                font-size: 2rem;
            }
        }
    }
}
