.nav_list {
    display: none;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem;

    & > a {
        color: var(--color-text-in-background);
    }
}

@media (width > 768px) {
    .nav_list {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}
