.nav_list {
    display: none;
    & > li {
        list-style: none;
        min-width: fit-content;
    }
}

@media (width > 768px) {
    .nav_list {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}
