.card {
    background-color: var(--color-secondary);
    padding: 2rem;
    border-radius: var(--radius-md);
    box-shadow: var(--box-shadow-sm);

    width: 15rem;
    height: 15rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card > p {
    font-size: large;
}

.icon_background {
    width: fit-content;
    padding: 1rem;
    border-radius: 2rem;
}