.dream_card {
    position: relative;
    width: 100%;
    border-radius: var(--radius-md);
    box-shadow: var(--box-shadow-sm);
    color: var(--color-text-in-background);

    transition: transform 100ms ease-in-out;
    cursor: pointer;
    padding: clamp(0.5rem, 3vw, 3rem);
    aspect-ratio: 3 / 1;

    & > .background {
        position: absolute;
        z-index: -1;
        background-size: cover;

        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: var(--radius-md);
    }

    & > .info {
        text-align: start;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.3rem;

        & > h3 {
            font-size: 1.5rem;
            line-height: 2.2rem;
        }

        & > p {
            font-size: 1rem;
            display: none;
            line-height: 2rem;
        }

        & > div {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        & .progress {
            width: 15rem;
            height: 0.6rem;
            border-radius: var(--radius-xl);
            background-color: var(--progress-color);

            & > .filled {
                height: 100%;
                background-color: var(--color-primary);
                border-radius: var(--radius-xl);
            }
        }

        & > div:last-child {
            border-radius: var(--radius-mini);
            padding-inline: 1rem;
            padding-block: 0.5rem;
            background-color: var(--color-fourty);
        }
    }
}
.favorite_button {
    border: none;
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;

    background-color: var(--progress-color);

    &.active {
        background-color: #ffff5550;
    }
}

@media (width > 768px) {
    .dream_card {
        background-color: var(--color-white);
        width: 18rem;
        height: 27rem;
        padding: 0;

        &:hover {
            transform: scale(1.01);
        }

        & > .background {
            position: static;
            width: 100%;
            height: 40%;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        & > .description {
            height: 60%;
            padding: 1.2rem;

            & > p {
                display: block;
                flex-grow: 1;
            }

            & > div:last-child {
                justify-content: space-between;
                background: none;
                padding: 0;
            }
        }
    }
}
