body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;

    & > main {
        height: 90%;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        padding: clamp(0.5rem, 5vw, 3rem);

        & > .title > p {
            display: none;
        }
    }
}

@media (width > 768px) {
    body {
        flex-direction: row;

        & > main {
            height: 100%;
            width: 90%;
            flex-grow: 1;
            & > .title > p {
                display: block;
            }
        }
    }
}
