.squareLine {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    & > .squareLine__left {
        background-color: var(--color-thirty);
        width: 5rem;
        height: 3px;
        border-top-left-radius: 100%;
        border-bottom-left-radius: 100%;
        border-top-right-radius: 10%;
        border-bottom-right-radius: 10%;
    }

    & > .squareLine__center {
        width: 15px;
        height: 15px;
        background-color: var(--color-thirty);
        flex-shrink: 0;
    }

    & > .squareLine__right {
        background-color: var(--color-thirty);
        width: 5rem;
        height: 3px;
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
        border-top-left-radius: 10%;
        border-bottom-left-radius: 10%;
    }
}
