.features_section {
    width: 100%;
    height: 100vh;
}

.cards_list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.cards_list:nth-child(1) {
    align-self: flex-start;
}