.button {
    border: none;
    border-radius: var(--button-border-radius);
    color: var(--button-color-text);
    transition: all 2s ease-in-out;
    transition-duration: var(--button-transition-duration);
    min-width: fit-content;

    font-size: var(--font-p-size);
    font-weight: var(--font-p-weight);
}

.button:hover {
    transform: scale(var(--button-hover-scale));
}

.small {
    padding-block: var(--button-small-padding-y);
    padding-inline: var(--button-small-padding-x);
    background-color: var(--button-color-primary);
}

.medium {
    padding-block: var(--button-medium-padding-y);
    padding-inline: var(--button-medium-padding-x);
    background: linear-gradient(
        90deg,
        var(--button-color-primary),
        var(--button-color-secondary)
    );
    position: relative;
    overflow: hidden;
}

.medium::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    transform: translate(-50%, -50%);
    transition: width 0.6s, height 0.6s;
}

.medium:hover::before {
    width: 300px;
    height: 300px;
}

