.passwordWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.passwordField {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: var(--radius-mini);
    border: var(--border);
    background-color: var(--color-white);
}

.passwordField.error {
    border: var(--border-error);
}

.passwordInput {
    border: none;
    flex-grow: 1;
    font-size: var(--font-p-size);
    background: none;
}

.passwordInput:focus {
    outline: none;
}

.visibilityButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
}

.errorMessage {
    color: var(--color-error);
    font-size: 0.8rem;
}
